/* CSS Document */

.section {
	
	&.hero {
		
		background-color: $blue;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(assets/images/heros/global-hero.png);
		
		
		text-align: center;
		
		h1 {
			color: #fff;
			margin: 0;	
		}
		
		h4 {
			color: #fff;
		    display: inline-block;
		    font-size: 20px;
		    margin-top: 5px;
		    padding-top: 10px;
		    border-top: 3px solid #fff;
		}
		
		.table {
			display: table;
			width: 100%;
			
			.cell {
				display: table-cell;
				vertical-align: middle;	
				padding: 25px 0;
				@include breakpoint(large) {
					height: 160px;
				}				
			}
		}
		
		
		@media #{$large-up} {
      					
			.table {
 				min-height: 160px;
				
				.cell {
					padding: 0;	
				}
			}
		}
			
	}
	
	
	&.default {
		
		padding: 35px 0 35px;
		
		@media #{$large-up} {
      		padding: 60px 0 0 0;
		}
			
	}
	
}

.section {
	.entry-content > *:last-child {
		//margin-bottom: 0;	
	}	
}

/*
.flex {
	// secondary flex wrap for IE
	.wrap {
		width: 100%;
		display: flex;
		align-items: center;
		.row {
			width: 100%;	
			display: flex;
			flex-direction: column;
		}
	}
}
*/

.full-height {
	min-height: 100vh;		
}

.scroll-down {
	display: block;
}


.scroll-arrow.svg {
	color: #fff;
	position: absolute;
	bottom: 60px;
	left: 50%;
	margin-left: -24px;
	z-index: 97;
	visibility: hidden;
	opacity: 0; 
	cursor: pointer;
	width: 48px;
	height: 48px;	
    visibility: visible;
	opacity: 1; 
}