//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Default menu (active after a fresh WordPress install)
.menu {
	@include list-reset;

	li {
		margin: 0 10px 0 0;
	}

	ul {
		@include list-reset;
	}

} // .menu


.no-touchevents a[href^="tel:"] {
	pointer-events: none;    /* prevents click event */
    cursor: text;            /* use text highlight cursor*/	
}

// Navigation on Comment, Post and Posts
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0;
		overflow: hidden;
	} // .site-main &

	&.nav-previous {
		float: left;
	} // &.nav-previous

	&.nav-next {
		float: right;
		text-align: right;
	} // &.nav-next
} // .comment-navigation, .posts-navigation, .post-navigation

.more {
	font-weight: $global-weight-bold;
	text-transform: uppercase;
}

.btn {
	background: $blue;	
	border-radius: 6px;
	color: $white;
	display: inline-block;
	font-size: 12px;
	font-weight: $global-weight-bold;
	min-width: 168px;
	padding: 11px 16px;
	text-transform: uppercase;
	text-align: center;
	
	&:hover {
		background: $anchor-color-hover;	
		color: $white;
	}
}


a.button-action {
				margin: 15px auto;
				margin: 0 auto;
				display: block;
				border: 1px solid $blue;
				font-size: 16px;
				line-height: 19px;
				color: $blue !important;
				text-align: center;
				padding: 10px 0 15px 0;	
				text-transform: uppercase;
				text-decoration: none;
				font-weight: $global-weight-bold;
					
				&:hover {
						background: $blue;
						color: #fff !important;	
					}


				.icon-arrow.blue {
					display: inline-block;
					background-image: url(assets/images/arrow-blue.svg);
					background-repeat: no-repeat;
					background-size: contain;
					width: 20px;
					height: 20px;
					position: relative;
					top: 4px;
					margin-left: 10px;
				}


			}
