// Services


.template-cosmetic-services {
	
	.section.hero {
		background-image: url(assets/images/heros/services-hero.png);
	}

	.section.default {
		position: relative;
		/*
		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: -200px;
			left: 0px;
 			background: url( assets/images/home/green-circles.png);
			background-position: 0 100%;
			background-repeat: no-repeat;
			background-size: contain;
			width: 260px;
			height: 100%;
		}*/

		.entry-content {
			
			margin-bottom: 0;

			h2 {
				border-bottom: 4px solid rgba(128,128,128,.8);
    			padding: 15px;
			}
			
			*:last-child {
				margin-bottom: 0;	
			}
		}
		
		.row > .columns {
			margin-bottom: 30px;	
		}
		
 	}
	
	

	.featured-block {
		border: 1px solid $dark-gray;
		
		
		
		.thumbnail {
 			background-size: cover;
			background-repeat: no-repeat;
			background-position: right center;
			
			width: 100%;
			min-height: 300px;
			
		
		}
		
		
		@media #{$large-up} {
      		padding-left: 52%;
			position: relative;
			
			.thumbnail {
				width: 52%;
				height: 100%;
				min-height: 0;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		
		
		.details {
			
			display: table-cell;
			vertical-align: middle;
			
			padding: 40px 30px;
			
			h5 {
				color: $blue;
				margin-bottom: 15px;
			}
			
			p {
				color: #666;
				line-height: 22px;	
			}
		}
		
	}
	
}