// Services


.service-template-medical-services {
	
	.section.hero {
		background-image: url(assets/images/heros/services-hero.png);
	}

	.section.default {
		position: relative;


		.entry-content {
						
			*:last-child {
				margin-bottom: 0;	
			}
		}
		
		.row > .columns {
			margin-bottom: 30px;	
		}
		
 	}
	

 	#benefits-list {
 		margin-bottom:30px;
 	}

}