html, body {
	height: 100%;	
}

.hide {
	display: none;	
}

body {
	background-color: $body-background;
	color: $body-font-color;
	overflow-x: hidden;
}

.site-container {
	margin: 0 auto;
	max-width: $global-width;
}

.site-content {
	background: #fff;	
}

.wrap {
	padding: 0;
	
	@media #{$medium-up} {
       padding: 0 15px;  
	}
	
	@media #{$xxlarge-up} {
    	padding: 0 40px;  
	}
	
	@media #{$xxxlarge-up} {
      	padding: 0 70px;
	}
}


%btn {
	color: #fff;
	display: inline-block;
  	text-decoration: none;
	text-transform: uppercase;
	background: $blue;
  	font-size: 16px;
	font-weight: $global-weight-bold;
	line-height: 19px;
 	border: none;
	border-radius: 0;
	outline: none;
	padding: 20px 78px 20px 38px;
 	text-align: center;
 	position: relative;
	min-width: 200px;
	border: 1px solid $blue;
	
	&:after {
		content: '';
		display: inline-block;
		background-image: url(assets/images/arrow-white.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translate(-50%,-50%);
	}
	
	&:hover {
		background: $white;
		border: 1px solid $blue;
		color: $blue;
		text-decoration: none;
		
		&:after {
			background-image: url(assets/images/arrow-blue.svg);
		}
	}
	
	&.white {
		
		background: $white;
		border: 1px solid $blue;
		color: $blue;
		
		&:after {
			background-image: url(assets/images/arrow-blue.svg);
		}
		
		&:hover {
			background: $blue;
			border: 1px solid $blue;
			color: $white;
			text-decoration: none;
			
			&:after {
				background-image: url(assets/images/arrow-white.svg);
			}
		}
	}
	
	
	&.small {
		min-width: 0;
		padding: 10px 58px 10px 28px;	
		
		&:after {
			width: 16px;
			height: 16px;
			right: 10px;
		}
	}
}

a.btn {
	@extend %btn;
}

input[type="submit"] {
	color: #fff;
	display: inline-block;
 	font-family: $header-font-family;
 	text-decoration: none;
	text-transform: uppercase;
	background: $anchor-color;
  	font-size: 20px;
	letter-spacing: 2px;
	line-height: 24px;
 	border: none;
	outline: none;
	padding: 8px 17px;
	border-radius: 100px;
	text-align: center;
 	position: relative;
 	
	&:hover {
		background: $anchor-color-hover;
	}
}


// Videos

a.video {
	display: inline-block;
	position: relative;	
	border: 1px solid $medium-gray;	
}


// icons

.icon {
	display: block;	
}

.icon-pdf {
	width: 44px;
	height: 55px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
	background-image: url(assets/images/icons/pdf.svg);			
}

.icon-video {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
	background-image: url(assets/images/icons/white-video.svg);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.page-template-default {
		
	.section-content {
		padding: 75px 0 0;	
	}
}

.page-template-default,
.error404 {
	
	
}


.gallery .column {
	padding-bottom: 30px;	
}