// Services


.template-resources {
	
	.site-main .section .wrap {
	
		@media #{$xxlarge-up} {
      		
			padding-left: 140px;
			padding-right: 140px;
			
		}
		
	}

	.section.default {
 		
		.entry-content {
			
			text-align: center;
			
			*:last-child {
				margin-bottom: 0;	
			}
		}
 	}
	
	.section.forms {
	
		padding: 0 0 30px;
		
		h3 {
			margin-bottom: 30px;	
		}
		
		.grid {
			
			padding-bottom: 40px;
			
			.column {
				
				padding-bottom: 30px;
				
				
				@media #{$xlarge-up} {
      				display: inline-block;
					float: none;
					clear: none;
					width: auto;
					vertical-align: top;
				}
			
				a {
					display: block;	
					padding: 30px 44px;
					border: 1px solid #d3d3d3;
					
					&:hover {
						background: rgba($light-gray, .2);	
					}
					
					.icon-pdf {
						margin: 0 auto 20px;	
					}
					
					p {
						color: $blue;
						font-weight: $global-weight-bold;
						line-height: 19px;
						margin: 0 auto;
						text-align: center;
						text-transform: uppercase;	
					}
				}
				
			}
			
		}
		
	}
	
	
	
	.section.plans {
	
		padding: 0 0 75px;
		
		.accordion {
			margin-top: 40px;	
		}
		
		.accordion-item {
	
			.accordion-title h5 {
				text-transform: uppercase;
			}
		}
		
		.accordion-content {
			ul {
				@include list-reset;
				
				ul {
 					
					li {
						position: relative;
						padding-left: 15px;
						
						&:before {
							content: '\2022';	
							font-size: 8px;
							color: $dark-gray;
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
			}
		
		}
		
	}
	
}