// Services


.template-services {
	
	.section.hero {
		background-image: url(assets/images/heros/services-hero.png);
	}

	.section.default {
 		
		.entry-content {
			
			text-align: center;
			
			*:last-child {
				margin-bottom: 0;	
			}
		}
 	}

	
	.section.services  {
		.grid {
		
			margin-bottom: 25px;
			
			.column {
				
				@include breakpoint(xlarge down) {
					padding:10px;
				}

				> a {
					border: 1px solid #b9b9b9;
					display: block;
					
					&:hover {
						background: $blue;
							
						.details > * {
							color: #FFF;	
						}
						
						.icon-more {
							border: 1px solid #FFF;
							&:before {	
								background-image: url(assets/images/arrow-white.svg);
							}
							
						}
					}
				}
				
				
				
				img {
					width: 100%;
					@include breakpoint(large) {
						max-height: 177px;
					}
				}
				
				.details {
					padding: 24px;
					text-align: center;	
					
					> * {
						color: #474747;	
					}
					
					h2 {
						color: $blue;
						text-transform: uppercase;
						font-size:24px;
						@media only screen and (min-width:980px) and (max-width:1199px) {
							font-size: 18px;
						}
					}
					
					p {
 					}
					
				}
				
				.icon-more {
					display: none;
					width: 28px;
					height: 28px;
					border-radius: 100%;
					border: 1px solid #474747;
					position: relative;
					margin: 0 auto 24px;
					&:before {
						content: '';
						display: inline-block;
						background-image: url(assets/images/arrow-gray.svg);
						background-repeat: no-repeat;
						background-size: contain;
						width: 100%;
						height: 16px;
						position: absolute;
						top: 50%;
						left: 85%;
						transform: translate(-50%,-50%);
					}
				}
			}
		}
	}
	
}



// Services child page sidebar
#secondary .menu {
	
	li {
		margin: 12px 0;
		
		a {
			color: $blue;
			
			&:hover {
				color: $medium-blue;	
			}
		}
	}
}

.button.services {
	background: $blue;
	color: #fff;
	outline: none;
	padding: 15px 40px 15px 10px;
	position: relative;
	width: 100%;
	border: 1px solid $blue;
	&:after {
		content: '';
		display: inline-block;
		background-image: url(assets/images/arrow-white.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		width: 10px;
		height: 30px;
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translate(-50%,-50%);
	}
	
	&.hover:after {
		transform: translate(-50%,-50%) rotate(90deg);
		right: 15px;
	}
	
}

.dropdown-pane.services {
	border: none;
	background: $white;
	border: 1px solid $blue;
 	padding: 10px;
	width: calc(100% - 30px);
	left: 15px!important;
	
	@media #{$medium-up} {
      	width: calc(100% - 60px);
		left: 30px!important;
	}
	 	
	ul {
		@include list-reset;	
	}
	
	a {
		 
	}
}


/* Global modules across service landing pages */

#menu-choose-service {
	@include breakpoint(large) {
		border: 1px solid #ddd;
		border-radius: 10px;
		padding-top:20px;
		max-width:400px;
	}
	
}

#benefits-list {
	
 	.benefits {

 		.column { 
 			padding-left:10px;
 			padding-right: 10px;

 			@include breakpoint(small only) {
 				padding-right:0;
 			}

			img {
				@include breakpoint(medium down) {
					width:100%;
				}
			}

 			.inner {
				padding: 15px 10px 0 0;

				@include breakpoint (small only) {
 						font-size: 12px;
 						text-align:center;
 					}
 					@include breakpoint (medium only) {
 						font-size: 20px;
 					} 	
 				h5 {
 					color: #acc37e;
 					margin-bottom:10px;
 					@include breakpoint (small only) {
 						font-size: 12px;
 					}
 					@include breakpoint (medium only) {
 						font-size: 20px;
 					} 					
 				}

 				p {
 					line-height: 1.5em;
 				}
 			}
 		}

 		strong { 

 			@media #{$large-up} {
 				font-size: 20px;
 			}
 		}

 	}
}

.introductory-summary {
	margin-top: 15px;
	padding-left: 10px;

	p {
		@include breakpoint(medium down) {
			margin-bottom:0;
			padding:0;
		}
	}

}

.infographic-stats {

	margin-top: 30px;

	> .column {
 		padding-left:10px;
 		padding-right: 10px;
	}

	> .column > .inner {
		padding: 15px;
		margin-bottom: 15px;
		border: 1px solid #ddd;
		width: 100%;
		float:left;
		
		@include breakpoint (small only) {
			height: 100px;
		}

		@include breakpoint (medium) {
			height: 120px;
		}

		.icon {
			padding: 0;
		}

			img {	 // icon
				padding-top: 10px;
				margin: 0 auto;
				display: block;
			}

	}


	.data  {
		font-weight: bold;
		padding-left:0; // align to icon

		h3 {
			color: #ACC37E;

			@include breakpoint(xlarge down) {
				font-size: 20px;
			}
		}
	}

}

// Patient Testimonial and Video 
.patient-review {

	@include breakpoint(small) {
		margin: 30px 0 0 0;
	}

	@include breakpoint(large) {
		margin: 45px 0 0 0;
	}

	.testimonial {
		font-size: 30px;
		color: #a9d075;
		font-weight: bold;
		text-align:center;
		padding: 15px;
		border-top: 8px solid #a9d075;
		border-bottom: 8px solid #a9d075;

	}

	//Foobox class
	.video {

		@include breakpoint(xlarge down) {
			margin-top:30px;
		}

		@include breakpoint (medium down) {
			float:left !important;
			margin-top: 15px;
			padding-left:0;
		}

		img {
			max-width: 100%;
		}

	}

}
