// Services


.template-surgical-services {
	
	.section.hero {
		background-image: url(assets/images/heros/services-hero.png);
	}

	.section.default {
 		
		.entry-content {
						
			*:last-child {
				margin-bottom: 0;	
			}
		}
		
		.row > .columns {
			margin-bottom: 30px;	
		}
		
 	}
	

.introductory-summary {
	text-align:center;
}	


 .section.services {
 	padding:0; // reset

 	> .wrap {

 	margin-bottom:0 !important;

    @include breakpoint(large) {
    	background: #fff;
    	margin: 40px;
    	border: 1px solid #eee;
    	padding: 20px;
    	position: relative;
    	top: -90px;
    	border-radius:15px;
		}
    }
 }

 .section.services-listing {
 	.item-service {
 		margin-bottom: 30px;
 	}
 }

#benefits-list {
	margin-top: 45px;
	.benefits {
 		.block { 
 			text-align: center; 
 			margin-bottom: 15px;
 				img {  
 					@include breakpoint(small only) {
 						max-height: 50px;
 					}
 					max-height: 100px;
 					width: auto;
 					}
 				}
 			}
 	}


.skin-cancer-treatments-hero {
	position:relative;
	background-image: url('https://forefrontdermatology.com/wp-content/uploads/2016/06/skin-cancer-hero2-e1474586282451.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	margin-top:45px; 
	@include breakpoint(small) {
		height: 150px;
	}

	@include breakpoint(medium) {
		height: 250px;
	}

	@include breakpoint(large) {
		height:350px;	
	}

	h2 {
	    color: #fff;
	    position: absolute;
	    display: block;
	    top: 50%;
	    height: auto;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    margin: auto;		
	    text-align: center;
	}	

}

section.melanoma {
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: -42px;
 			background: url( assets/images/home/green-circles.png);
			background-position: right center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 260px;
			height: 100%;
		}

	.melanoma-summary {
		padding: 0 60px 60px 60px;

		h3 {
			text-align:center;
		}
	}
}


}