@import "page";
@import "front-page";
@import "services";
@import "medical-services-landing";
@import "cosmetic-services-landing";
@import "spa-services-landing";
@import "single-service";
@import "doctors";
@import "locations";
@import "resources";
@import "blog";
@import "book-appointment";